<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_ROOT">logs</Property>
        <Property name="APP">app</Property>
        <Property name="LOG_PATTERN">[%d{yyyy-MM-dd-HH HH:mm:ss.SSS}] ${APP} %-4level [%t] %m%n</Property>
    </Properties>

    <Appenders>

        <!-- Console Appender -->
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="debugLog" fileName="${LOG_ROOT}/${APP}-debug.log"
                     filePattern="${LOG_ROOT}/${APP}_debug_%d{yyyy-MM-dd-HH-HH}-%i.log">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="infoLog" fileName="${LOG_ROOT}/${APP}-info.log"
                     filePattern="${LOG_ROOT}/${APP}_info_%d{yyyy-MM-dd-HH}-%i.log" >
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="errorLog" fileName="${LOG_ROOT}/${APP}-error.log"
                     filePattern="${LOG_ROOT}/${APP}_error_%d{yyyy-MM-dd-HH}-%i.log" >
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="perfLog" fileName="${LOG_ROOT}/${APP}-perf.log"
                     filePattern="${LOG_ROOT}/${APP}_perf_%d{yyyy-MM-dd-HH}-%i.log" >
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>

        <RollingFile name="traceLog" fileName="${LOG_ROOT}/${APP}-trace.log"
                     filePattern="${LOG_ROOT}/${APP}_trace_%d{yyyy-MM-dd-HH}-%i.log" >
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>

        <RollingFile name="rootLog" fileName="${LOG_ROOT}/${APP}-root.log"
                     filePattern="${LOG_ROOT}/${APP}_root_%d{yyyy-MM-dd-HH}-%i.log" >
            <LevelRangeFilter minLevel="WARN" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Logger name="com.ximuyi.core" additivity="false" level="DEBUG">
            <AppenderRef ref="traceLog" />
            <AppenderRef ref="console" />
            <AppenderRef ref="debugLog" />
            <AppenderRef ref="infoLog"  />
            <AppenderRef ref="errorLog" />
        </Logger>

        <Logger name="ccom.ximuyi.game" additivity="false" level="DEBUG">
            <AppenderRef ref="console" />
            <AppenderRef ref="debugLog" />
            <AppenderRef ref="infoLog"  />
            <AppenderRef ref="errorLog" />
        </Logger>

        <Root level="WARN">
            <AppenderRef ref="rootLog"/>
        </Root>

    </Loggers>

</Configuration>